---

import Layout from '../layouts/Layout.astro';
---


<Layout>
</Layout>

    <div>
        <h1>
            “Let’s Build Strange Worlds.”
        </h1>

        <p>Whether you want visuals, soundscapes, or collaborations, step through the portal and reach out.

            Contact Form / Email Placeholder
            “Speak to the Void → tripp@placeholder.com</p>

        

    </div>
<footer>“Tripp Life — Alter Your Perception.”</footer>

