---

import Layout from '../layouts/Layout.astro';
import Footer from "../components/Footer.astro";
---


<Layout>
</Layout>

    <div class="mt-28 text-center">
        <h1 class="font-bold text-4xl mt-28 mb-5 tracking-tight ">
            “Let’s Build Strange Worlds.”
        </h1>
            <div class=" text-2xl tracking-tight text-center px-56">
                <p class="">Whether you want <i><a href = "/design" class="text-pink-600">visuals</a>, <a href = "/music" class= "text-pink-600">soundscapes</a>,</i></p>
                <p class=""><i>or <a href = "" class="text-pink-600">collaborations</a></i>, step through the portal and reach out.</p>

                <p class=""></p>
                <p class="font-bolder mt-5  ">Message Me → <span class="text-pink-600 font-mono">tripplife667@gmail.com</span></p>
            </div>

    </div>
<Footer />

