---

import Layout from '../layouts/Layout.astro';
---


<Layout>
</Layout>
    <div>
        <h1>
            “Visuals That Move the Mind.”
        </h1>
            <p>
                We craft designs that feel like visions — trippy, symbolic, and cinematic.
                From album art to surreal illustrations, each piece pulls from subconscious imagery, dream logic, 
                and cosmic archetypes.

                Expect the unexpected: bending forms, shifting colors, and hidden symbols encoded into the visuals.
            </p>
    </div>