---
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import Portfolio from "./portfolio.astro";
import Logo from "../assets/images/tl_logo.png";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap" rel="stylesheet">
    <title>Nathanxx</title>
  </head>
  <body class="bg-black text-white font-sans min-h-screen flex flex-col">
    <Nav />

    <main class="flex-1 flex flex-col items-center min-h-screen">
      <h1 class="text-4xl font-bold mb-4 mx-auto mt-40 animate-pulse animate-spin flex flex-col items-center gap-4 ">
        <img src={Logo.src} alt="Logo" class="w-20 h-auto logo" />
      </h1>

  </body>
      <Portfolio></Portfolio>
    </main>
  </body>
  <Footer />
</html>
