---

import Layout from '../layouts/Layout.astro';
---


<Layout>
</Layout>

    <div>
        <h1>
        “Soundscapes for Alternate Realities.”
        </h1>

        <p>
            Loops, beats, and sonic experiments designed to melt boundaries.
            Every sound is sculpted to trigger deep emotional responses — drawing from jazz, neo-soul, shoegaze, 
            trip-hop, and cosmic hip-hop.

            Whether you’re a filmmaker, artist, or producer, these sounds are your portal into other dimensions.
        </p>
    </div>