---
import Logo from "../assets/images/Tripp-Life-Logo-SVG.svg";
import "../styles/global.css";
---
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap" rel="stylesheet">
<header class="bg-black ">
  <nav class="max-w-6xl mx-auto px-4 py-3 flex justify-between items-center">
      <div >
        <img src={Logo.src} alt="" class="logo">
      </div>
    <div class="text-xl font-bold"></div>
    <ul class="flex space-x-6 text-white">
      <li><a href="/" class="hover:text-pink-600">Home</a></li>
      <li><a href="/about" class="hover:text-pink-600">About</a></li>
      <!-- <li><a href="/design" class="hover:text-pink-600">Design</a></li> -->
      <li><a href="/music" class="hover:text-pink-600">Music</a></li>
      <!-- <li><a href="/downloads" class="hover:text-pink-600">Downloads</a></li> -->
      <li><a href="/contact" class="hover:text-pink-600">Contact</a></li>
    </ul>
  </nav>
</header>
