@import "tailwindcss";
@tailwind base;
@tailind components;
@tailwind utilities;

html{
    margin: 0;
	width: 100%;
	height: 100%;
}

.logo{
    filter: invert(1);
    height: 40px;
    object-fit: contain;
    font-family: 'Space Grotesk', sans-serif;
}

body {
  font-family: 'Space Grotesk', sans-serif;
    margin: 0;
	width: 100%;
	height: 100%;
}

.tt{
    height: 20px;
}

#logo1{
    
}

main{
    margin:0, auto;
}